<div ng-controller="DetailCtrl" ng-init="load()">
	<nav class="navbar navbar-default navigation-bar" >
	        <div class="container-fluid">
		        <div class="col-lg-3">
		        	<a>
		        		<img class="logo" src="images/marvel-logo.png">
		        	</a>
		        </div>
		        <div class="col-lg-3">
		        </div>
	        </div>
	</nav>
		<div class="col-lg-5">
			<div ng-show="!loadingChars" class="col-lg-12">
				<h3 class="titles"><img class="marvel-icon" src="/images/char-icon.png">{{hero.name}} <span class="add-to-list-link"> - Click add to fauvorite list.</span></h3>
			<div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards ng-scope">
	        <div class="panel panel-default">
	          <div class="panel-heading clearfix marvel-card-header">
	            <h3 class="panel-title pull-left">{{hero.id}}</h3>
	              <a class="btn btn-default pull-right" href="#" ng-click="window.history.back()">
	                <span class="glyphicon glyphicon-remove"></span>
	              </a>

	            </div>
	            <div class="list-group">
	              <div class="list-group-item">
	                <p class="list-group-item-text">Series</p>
	                <h4 class="list-group-item-heading">{{hero.series.available || 'no series'}}</h4>
	              </div>
	              <div class="list-group-item">
	                <p class="list-group-item-text">Stories</p>
	                <h4 class="list-group-item-heading">{{hero.stories.available || 'no stories'}}</h4>
	              </div>
	              <div class="list-group-item">
	                <p class="list-group-item-text">Comics</p>
	                <h4 class="list-group-item-heading">{{hero.comics.available || 'no comics'}}</h4>
	              </div>
	              <div class="list-group-item">
	                <p class="list-group-item-text">{{hero.description || 'Sin Descripción'}}</p>
	              </div>
	            </div>
	          <div class="panel-footer">
	              <small>Modificado {{hero.modified}}</small>
	          </div>
	        </div>
	    </div>
		</div>
		</div>
		<div class="col-lg-7">
			<ul class="visible-lg" style="height200px;"  rn-carousel rn-carousel-index="carouselIndex3" rn-carousel-transition="hexagon" rn-carousel-buffered ng-show="hero.comics.available > 0">
				  <li ng-init="getData()" ng-repeat="comic in hero.comics.items">
			  		<div  ng-style="{'background-image': 'url('+comic.image+')'}"  class="slide">
			  		</div>
			  		<p ng-click="addtoList()">{{comic.name}}</p>
			  		<button ng-click="addtoList()"class="btn marvel-btn"><strong>Add Favourite</strong></button>
				  </li>
			</ul>
			<div ng-repeat="comic in hero.comics.items" class="favourite-comic visible-xs visible-md">
					<div>
						<img style="width:100%;" ng-src="{{comic.image || 'images/no-image.png'}}">		
					</div>
					<div class="text-center" style="margin-bottom:10px;">
						<h4 class="text-center">{{comic.name}}</h4>
						<button ng-click="addtoList()" class="btn marvel-btn text-center"><strong>Add Favourite</strong></button>
					</div>
					
			</div>
		</div>
</div>
